<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linyun.comment.mapper.BlogMapper">


    <update id="updateAddLikedById">
        update tb_blog
        set liked = liked + 1
        where id = #{id};
    </update>
    <update id="updateSubLikedById">
        update tb_blog
        set liked = liked - 1
        where id = #{id};
    </update>
</mapper>
