<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linyun.comment.mapper.FollowMapper">


    <delete id="delByUserIdAndFollowUserId">
        delete
        from tb_follow
        where follow_user_id = #{followUserId}
          and user_id = #{userId};
    </delete>
    <select id="listByUserId" resultType="java.lang.Integer">
        select *
        from tb_follow
        where follow_user_id = #{followUserId}
          and user_id = #{userId};
    </select>


</mapper>
